body{
    width: 100%;
    height: 100%;
    background: url('./image/bg.jpg') no-repeat;
}
.word{
    position: fixed;
    left: 195px;
    top: 255px;
    color: #fff;
}
.box{
    width: 480px;
    height: 518px;
    background-color: #eeeeee;
    border-radius: 10px;
    z-index: 2;
    position:fixed;
    top:50px;
    right: 150px;
}
h1{
    padding-top: 10px;
}
.bottomword{
    font-size: 14px;
    color: #eeeeee;
    font-weight: lighter;
    position: fixed;
    left: 80px;
    bottom: 57px;
}
#topword{
    margin-top: -20px;
    font-size: 12px;
    color: #837d7d;
    margin-bottom: 40px;
}
#inbox{
    width: 90%;
    margin-left: 7%;
}
input{
    height: 40px;
    width: 343px;
    border-radius: 5px;
    margin: 0 10px 0px 10px;
    border: 1px solid #eeeeee;
}
#warnword1{
    height: 18px;
    font-size: 12px;
    margin:0 0 0 55px;
    color: red;
}
#warnword2{
    height: 18px;
    font-size: 12px;
    margin:0 0 0 55px;
    color: red;
}#warnword3{
    height: 18px;
    font-size: 12px;
    margin:0 0 0 55px;
    color: red;
}#warnword4{
    height: 18px;
    font-size: 12px;
    margin:0 0 0 55px;
    color: red;
}
#code{
    height: 40px;
    width: 206px;
}
#btn{
    height: 43px;
    width: 127px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: -5px;
}
label{
    font-size: 14px;
    color: #333;
    line-height: 40px;
    font-weight: 200;
}
#pwd{
    margin-left: 11px;
}
#word{
    margin-right: 13px;
}
#register{
    width: 403px;
    height: 50px;
    border-radius: 25px;
    background-color: #BDCEFC;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 30px;
}
.check{
    width: 15px;
    height: 15px;
    color: #666;
    margin-top: 15px;
    margin-left: 45px;
    /* background-color: #ffffff; */
}
a{
    text-decoration:none;
}
